<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title>Content page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div layout:fragment="content">

            
            <h2 class="display-2 my-3" th:text="${title}">My issues</h2>
            <p><a class="btn btn-primary" href="#" role="button">New issue</a></p>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1">Bad machine</h5>
                        <span class="badge badge-danger">NEW</span>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>
                        <i class="fas fa-map-marker-alt"></i> PC1 
                        <i class="fas fa-calendar-alt"></i> 2019.01.01.
                        <i class="fas fa-comment"></i> <span class="badge badge-light badge-pill">3</span>
                    </small>
                </a>

                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1">Bad machine</h5>
                        <span class="badge badge-warning">DOING</span>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>
                        <i class="fas fa-map-marker-alt"></i> PC1 
                        <i class="fas fa-calendar-alt"></i> 2019.01.01.
                        <i class="fas fa-comment"></i> <span class="badge badge-light badge-pill">3</span>
                    </small>
                </a>

                <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1">Bad machine</h5>
                        <span class="badge badge-success">DONE</span>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>
                        <i class="fas fa-map-marker-alt"></i> PC1 
                        <i class="fas fa-calendar-alt"></i> 2019.01.01.
                        <i class="fas fa-comment"></i> <span class="badge badge-light badge-pill">3</span>
                    </small>
                </a>
            </div>            


        </div>
    </body>
</html>
