<!DOCTYPE HTML>
<html layout:decorator="layouts/common">
  <head>
    <title>Content page</title>
  </head>
  <body>
    <div layout:fragment="content">

      <h2 class="display-2 my-3" >Login</h2>

      <div th:if="${param.error}">
        Invalid username and password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>

      <form action="" novalidate th:action="@{/login}" method="post">

        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Username" required name="username">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="passowrd" placeholder="Password" required name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>
  </body>
</html>
